*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("https://i.ibb.co/c1rZcZM/home-page-background.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f73471;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f73471;
    background: #f73471;
    transition: 1s;
}

nav.fa{
    display: none;
}

@media(max-width: 700px) {
    .text-box h1{
          font-size: 20px;   
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f73471;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    } 
    nav.fa{
        display: block;
        color: white;
        margin: 10px;
        font: 22px;
        cursor: pointer;
    } 
    .nav-links ul{
        padding: 30px;
    } 
}

/*------------ Footer ------------*/

.Footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.Footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart-o{
    color: #f44336;
}

/*------------ (Exercises,Review,Contact Us) Page ------------*/
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("https://i.ibb.co/5WdMm6M/exercise-review-contact.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}



/*------------ Exercises Page ------------*/

*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
  }
  .container{ 
    width:100%;
    min-height: 100vh;
    background-color:#e4e0e0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px 90px;
  }
  .content-section {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
  
  }
  .content-section .card {
      flex:1;
      margin: 20px 20px;
      box-shadow: 0px 2px 8px 0 px rgba(0,0,0,0.2);
  
  }
  .content-section card img{
      width: 80%;
      height:90%;
  
  }
  .content-section h2{
      margin: 15px 0px;
      font-size: 28px;
      color: #021729;
      font-family: sans-serif;
  }
  .content-section .card p{
      font-size: 20px;
      line-height: 1.0;
      padding:  0px 10px;
      margin-bottom: 17px;
      font-family: sans-serif;
  }
   @media screen and(max-width:768px) {
      .content-section{
          flex-direction: column;
      }
      
   } 
   img{
    width: 500px;
    height: 500px;
   }
      
  



/*------------ Review Page ------------*/



/*------------ Contact Us Page ------------*/
